{% extends "base.html" %}

{% block maincontent %}
<h1>Upcoming Events</h1>
    <p>
    Bla bla table list with events
    </p>

<h2>Add New Event</h2>
{% if form %}
<div class="formwrapper">
  <form method="POST" action="">
      {{ form.csrf_token() }}
      <table>
          <tr>
              <td align="left">
                  {{ form.sname.label }}
              </td>
              <td>
                  {{ form.sname(size=20) }}
              </td>
          </tr>
          <tr>
              <td align="left">
                  {{ form.description.label }}
              </td>
              <td>
                  {{ form.description(rows=40, cols=5) }}
              </td>
          </tr>
          <tr>
              <td align="left">
                  {{ form.planned.label }}
              </td>
              <td>
                  {{ form.planned(size=20) }}
              </td>
          </tr>

      </table>
      {{ form.submit }}
  </form>
</div>
{% else %}
    <p>No form found</p>
{% endif %}
{% endblock %}